# Ignore everything

*

# But not these files...

!.gitignore

!*.R

!*.Rmd

!template.latex

!results_MLP_hyperparam.csv
!results_CNN_hyperparam.csv

!*.py

!*.ipynb

!*.md

!Papers/*.pdf

!Papers/**/*.pdf

!requirements.txt

# etc...


# ...even if they are in subdirectories

!*/


main/**/*try*

main/**/*checkpoint*

.venv*
venv*

# if tVhe files to be tracked are in subdirectories

#!*/a/b/file1.txt

#!*/a/b/c/*